.about-page{
    margin: 10px;
}

.about-title{
    margin: 10px;
}

.about-footer{
    text-align: center;
    padding: 5px;
}

.mat-card-footer{
    text-align: center;
}

// .mat-icon{
//     font-size: 10px;
// }

.copyright-name{
    color: gray;
}