<div class="about-page">
    <mat-card>
        <img src="assets/about-myPic.jpeg" alt="My Picture" ngClass="pbt20">
        <mat-card-title class="about-title">About</mat-card-title>
        <mat-card-content>To pursue a highly rewarding career, seeking for a job in challenging and healthy work environment where I can utilize my skills and knowledge efficiently for personal and organizational growth.</mat-card-content>
        <mat-card-footer class="mat-card-footer">
            <a href="mailto:mohansrmb@gmail.com">
                <mat-icon aria-hidden="false" aria-label="mail" fontIcon="mail" [ngStyle]="{'color':'black'}"></mat-icon>
            </a>
            <a href="tel:+919566624995">
                <mat-icon aria-hidden="false" aria-label="phone" fontIcon="phone" [ngStyle]="{'color':'black'}"></mat-icon>
            </a>
        </mat-card-footer>
    </mat-card>
    <footer class="about-footer">
        <span class="copyright-name">Created by Mohan Babu. © 2023</span>
    </footer>
</div>